* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homepage_v3 {
    /* height: 8661px; */
    width: 100%;
    border-radius: 0px;
    position: relative;
    background: #FFFFFF;
}


.NAV_v4 {
    height: 130px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: [object Object]px;
    border-width: 0px, 0px, 0px, 0px;
    /* position: absolute; */
    border-style: solid;
    border-color: #FFFFFF;
    display: flex;
    justify-content: space-around;

}


.logo {
    height: 64px;
    width: 220.6207733154297px;
    border-radius: 0px;
    transform: translate(0%, 50%);
    cursor: pointer;
}

.searchBox {
    display: flex;
    width: 706px;
    height: 60px;
    top: 50%;
    transform: translate(0%, 50%);
    background-color: #F8F8F8;

}

.menus {
    height: 60px;
    width: 156px;
    color: #E5CCB8;
    font-weight: 700;
    line-height: 60px;
    left: 50px;

    font-family: 'Poppins';
    font-style: normal;

    background: #F8F8F8;
    border-radius: 6px 0px 0px 6px;

}

#menus {
    margin-left: 30px;
    font-size: large;
    cursor: pointer;
}

.search {
    background-color: #F8F8F8;
    border: 0px;
    width: 506px;
    height: 60px;
    font-size: large;
}

.fa-magnifying-glass {
    position: absolute;
    margin-top: 25px;
    margin-left: 680px;
    color: #6C5DD3;
    font-size: large;
    cursor: pointer;
}

.navLeft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 23%;
}

.likeContainer {
    display: flex;
    text-align: center;
}

.fa-heart {
    font-size: large;
}

.likeNum {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-color: #F22462;
    color: #FFFFFF;
    display: inline-block;
    line-height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-top: -15px;
    margin-left: -8px;
}

.fa-cart-shopping {
    font-size: large;
}

.cartNum {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-color: #F22462;
    color: #FFFFFF;
    display: inline-block;
    line-height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-top: -15px;
    margin-left: -8px;
}

.cartContainer {
    display: flex;
    text-align: center;
}

.userStt img {
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 6px;
}

.userStt {
    display: flex;
}

.user {
    margin-left: 5px;
}

.userName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #131045;
}

.userMail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8F8F8F;
}

.catalog-body {
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
}

.book {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
}

.book p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin: 0px 0px 0px 50px;
    color: #131045;
}

.catalogi-container {
    margin: 0px 50px;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    height: 63px;
    display: flex;
    justify-content: space-between;
}

.catalogi-left {
    display: flex;
    align-items: center;
}

.catalogi-left p {
    margin-left: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #AAAAAA;
}

#today {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #131045;
    margin-left: 32px !important;
}

.catalogi-right {
    display: flex;
    align-items: center;
}

.view-container {
    display: flex;
    border-right: 3px solid #FBFBFB;
    width: 120px;
    height: 100%;
    align-items: center;
}

.view-container img {
    height: 24px;
    width: 24px;
    margin: 5px;
}

.fillter {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-right: 3px solid #FBFBFB;
    width: 150px;
}

.fillter p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #131045;
    margin-left: 10px;
}

.fillter img {
    height: 24px;
    width: 24px;
}

.sort {
    display: flex;
    align-items: center;
}

.sort p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #131045;
    margin: 0px 20px 0px 5px;
}

.sort img {
    margin-left: 10px;
}

.book-container {
    display: flex;
    margin: 26px 50px 0px 50px;
    background-color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #131045;
}

.book-container img {
    width: 170px;
    height: 238.37px;
    background: #C4C4C4;
    border-radius: 6px;
    margin: 20px 23px;
}

.book-info {
    width: 50%;
}

.book-tags {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6C5DD3;
    margin-top: 20px;
}

.book-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #11142D;
}

.summary {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #11142D;
}

.book-footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.book-footer p {
    margin-top: 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #AAAAAA;
}

.book-footer span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #11142D;
}

.rate {
    margin-top: 40px;
    display: flex;
}

.rate i {
    color: #FF754C;
}

#star5 {
    color: #E1E1E1;
}

.point {
    display: flex;
    margin-top: 18px;
}

.point p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #11142D;
    /* margin-top: 35px !important; */
}

.point span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #AAAAAA;
    margin-top: 37px !important;
    margin-left: 5px;
}

.sale-container {
    margin-top: 26px;
}

.book-right button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF754C;
    background-color: #FFFFFF;
    border: 1px solid #EAA451;
    border-radius: 6px;
    padding: 5px;
}

#see2 {
    background: #F0F0F0;
    border: 1px solid #3B2F4A;
    border-radius: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #AAAAAA
}

.price-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 129px;
}

.price-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #11142D;
    margin-right: 5px;
}

.price-container span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: line-through;
    color: #AAAAAA;
    margin-top: 8px;
}

.add-to-cart-container {
    display: flex;
    justify-content: flex-end;
}

.add-to-cart-btn {
    background: #131045 !important;
    border-radius: 6px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    color: #FFFFFF !important;
    margin-right: 10px;
}

.like-btn {
    color: #6C5DD3 !important;
    background: #FFFFFF !important;
    border: 1px solid #F0F0F0 !important;
    border-radius: 6px !important;
    padding: 5px 10px !important;
}

.pagination {
    margin: 37px 50px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.pagination-left {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3E4954;
}

.pagination-right {
    display: flex;
}

.previous {
    background: #F0F0F0;
    border-radius: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #131045;
    padding: 5px 15px;
    margin-right: 18px;
}

.btn-container {
    width: 169px;
    height: 60px;
    border-radius: 14px;
    border: 2px solid #8F8F8F;
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.btn1 {
    width: 60px;
    height: 60px;
    background: #131045;
    border-radius: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FDFDFD;
    padding: 5px 10px;
}

.btn2 {
    /* margin-left: -5px; */
    width: 56px;
    height: 56px;
    background: #FBFBFB;
    border-radius: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #131045;
    padding: 5px 10px;
    border: none;
}

.btn3 {
    width: 56px;
    height: 56px;
    background: #FBFBFB;
    border-radius: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #131045;
    padding: 5px 10px;
    border: none;
}
.next{
    background: #F0F0F0;
    border-radius: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #131045;
    padding: 5px 15px;
    margin-right: 18px;
}

.brandLogos {
    display: flex;
    height: 197px;
    align-items: center;
    justify-content: space-around;
}

.clientLogo {
    width: 80%;
    height: 60.94px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.storeContainer {
    height: 309px;
    margin: 80px 90px 0px 90px;
    display: flex;
}

.storeItem {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #FFFFFF;
    margin: 0px 5px 0px 5px;
    align-items: center;
}

.storeImg {
    height: 80px;
    width: 80px;
}

.storeNumber {
    width: 181px;
    height: 72px;
    margin-top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #131045;
}

.storeStt {
    width: 167px;
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #535353;
}

.subscribe {
    height: 366px;
    background: #3B2F4A;
    display: flex;
}

.subsTitle {
    height: 366px;
    margin-left: 90px;
    display: flex;
    align-items: center;
}

.subTit {
    height: 110px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
}

.searchSubs {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.searchSubs input {
    height: 68px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #3B2F4A;
    color: #FFFFFF;
    padding-right: 166px;
}

.searchSubs button {
    width: 166px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #EAA451;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    margin-left: -166px;
}

.footer1 {
    margin: 56px 0px 0px 95px;
}

.footer1Title {
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #363848;
}

.footer1Body {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.footer1Group {
    width: 203px;
    height: 200px;
}

.footer1Item {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363848;
    margin: 5px 0px 5px 0px;
}

#showOthers {
    color: #EAA451;
}

.footer2 {
    margin: 56px 0px 0px 95px;
    display: flex;
}

.footer2Left {
    width: 40%;
}

.footer2Left p {
    height: 72px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363848;
    margin-bottom: 20px;
    margin-top: 20px;
}

.iconList {
    display: flex;
    justify-content: space-around;
}

.footer2Right {
    margin-left: 50px;
}

.getIn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #11142D;
}

.footer2RightBody {
    display: flex;
    justify-content: space-around;
}

.footer2RightBody1 {
    margin-top: 30px;
}

.footer2Content {
    display: flex;
    margin: 20px 0px;
}

.footer2Content i {
    color: #EAA451;
    margin-top: 5px;
}

.footer2Content span {
    margin-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #11142D;
}

.footer2RightBody2 img {
    width: 398px;
    height: 158px;
    background: #C4C4C4;
    border-radius: 14px;
    margin-left: 100px;
    margin-top: 50px;
}

.footer3 {
    margin: 56px 0px 0px 95px;
    display: flex;
    justify-content: space-between;
}

.footer3left {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #363848;
}

.footer3Right {
    margin-right: 60px;
}

#heart {
    color: red;
}

.footer3Right span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: right;
    color: #363848;
}